.footer .item {
    padding-right: 20px;
}

.footer {
    margin-top: 30px;
}

.content {
    margin-top: 30px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.head-btn{
    margin-left: 10px;
}

.content{
    height: 9000px;
}

.header{
    border: 1px solid #000;
    padding: 10px;
    color: #000;
    margin-bottom: 10px;
}